<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>card con efecto hover</title>
    <link rel="stylesheet" href="./lentes-aumento.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <h1 class="title">Lentes de contactos</h1>


  <div class="container">

      <div class="card">
        <img src="assets/img/contacto 1.jpg">
        <h4>Acuvue Oasys</h4>
        <p>Es un lente de contacto reusable cómodo, por su borde delgado, y su bajo coeficiente de fricción.</p>
        <a href="#">Comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/contacto 2.jpg">
        <h4>Air Optix Aqua</h4>
        <p>Los lentes de contacto Air Optix Aqua de Alcon estan hechos con un novedoso material hidrogel que permite el flujo de oxígeno hasta 5 veces mayor que lentes de contacto regulares.</p>
        <a href="#">Comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/contacto 3.jpg">
        <h4>Freshlook Colorblends</h4>
        <p>Para lograr un color impresionante y natural lentes de contacto FreshLook, belleza natural.
           La tecnología de color 3 en 1 mezclada con tu propio color de ojos logra un efecto completamente natural. Aunque tu visión sea perfecta, experimenta un nuevo estilo renovador..</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/contacto 4.jpg">
        <h4> PureVision 2®</h4>
        <p>Los lentes de contacto PureVision 2® cuentan con la última y más avanzada tecnología en lentes de contacto llamada HD Optics.</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/contacto 5.jpg">
        <h4>PureVision 2 Tórico </h4>
        <p>Los lentes PureVision Tóricos ofrecen una visión clara y estable, en cada pestañeo. El material AerGel convierte a los lentes PureVision Tóricos en una opción excepcionalment saludable.</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/contacto 6.jpg">
        <h4>SofLens Starcolors II</h4>
        <p>Lentes de contacto blandos de color, sin graduación, con gran variedad de tonalidades que brindan un cambio y definición natural de color para tus ojos.</p>
        <a href="#">comprar</a>
      </div>


  </div>
