<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>card con efecto hover</title>
    <link rel="stylesheet" href="./lentes-de-sol.component.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <h1 class="title">Lentes de sol</h1>

  <div class="container">

      <div class="card">
        <img src="assets/img/images 1.jpg">
        <h4>Ray Ban Legacy</h4>
        <p>¡Un estilo icónico que te permite lucir genial! Vive miles de aventuras bajo la intensidad de sol, pero siempre cubre tu vista con los lentes Ray Ban.</p>
        <a href="#">Comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 2.jpg">
        <h4>Michael Kors </h4>
        <p>Luce un increíble outfit al complementarlo con estos lentes de sol de la marca Michael Kors; un accesorio moderno que combina con todo tu guardarropa. Este diseño Tulum dispone de una suave forma ojo de gato, que plasma el encanto seductor de MK, en sus líneas.</p>
        <a href="#">Comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 3.jpg">
        <h4> Ray-Ban Wayfarer</h4>
        <p>Distinguido y a la moda. Sobresale en cualquier lugar con tus nuevos lentes de sol Ray-Ban.</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 4.jpg">
        <h4> Ray Ban Wayfarer MK</h4>
        <p>Luce un increíble outfit al complementarlo con estos lentes de sol de la marca Michael Kors; un accesorio moderno que combina con todo tu guardarropa. Este diseño Tulum dispone de una suave forma ojo de gato, que plasma el encanto seductor de MK, en sus líneas.</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 5.jpg">
        <h4>Foster Grant Fgmp </h4>
        <p>oster Grant® FGMP 10 03 POL es una de nuestras apuestas más fuertes para este año. Es un modelo tipo high top, es decir un retro alto, de micas normales.</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 6.jpg">
        <h4>Dockers 30947</h4>
        <p>LENTES PARA EL SOL DOCKERS DE METAL COLOR COBRE, DISEÑO NAVEGADOR CON DOBLE PUENTE, PERFORACIONES EN LOS COSTADOS DEL ARMAZÓN, NARICERAS AJUSTABLES Y PUNTAS DE VARILLA DE PASTA. </p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 7.jpg">
        <h4>Dockers Gris</h4>
        <p>Lentes para el sol DOCKERS. El icónico estilo "Navegador" renovado con toda la esencia de Dockers. El marco metálico color gris, micas color humo sólido, varillas de pasta carey en tonos grises y nariceras ajustables,</p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 8.jpg">
        <h4>Dockers 25875L</h4>
        <p>Lentes para el sol DOCKERS. Este moderno estilo "Caravan" es la versión renovada del estilo "Navegador". El marco y varillas metálicos color plata, micas color humo sólido, varillas flexibles y nariceras ajustables. </p>
        <a href="#">comprar</a>
      </div>

      <div class="card">
        <img src="assets/img/images 9.jpg">
        <h4>Foster Grant </h4>
        <p>Foster Grant Avish es el estilo aviador que no puede faltar en tu guardarropa. Con marco y varillas de metal color dorado y brillantes micas espejadas a juego son ideales para complementar un look casual y relajado.</p>
        <a href="#">comprar</a>
      </div>




  </div>

      </body>
      </html>
